<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1012749641382-lhot23nv3omldh27oankndaokjgcih6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012749641382-lhot23nv3omldh27oankndaokjgcih6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDckZ_ZIQH2gc4o8jQkhK4VBI7ahA-pQdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1012749641382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.youngjun.GroupTalk</string>
	<key>PROJECT_ID</key>
	<string>grouptalk-62436</string>
	<key>STORAGE_BUCKET</key>
	<string>grouptalk-62436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012749641382:ios:fc215e7cc9f118fa</string>
	<key>DATABASE_URL</key>
	<string>https://grouptalk-62436.firebaseio.com</string>
</dict>
</plist>