<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1808030420-s9lg6siffcg2ddne68f9db2rff6ql1mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1808030420-s9lg6siffcg2ddne68f9db2rff6ql1mm</string>
	<key>API_KEY</key>
	<string>AIzaSyCKufzG5_rLTCZovamVEDYWEuzZFLcaFc4</string>
	<key>GCM_SENDER_ID</key>
	<string>1808030420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.youngjun.GroupTalk</string>
	<key>PROJECT_ID</key>
	<string>grouptalk-57bb0</string>
	<key>STORAGE_BUCKET</key>
	<string>grouptalk-57bb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1808030420:ios:fc215e7cc9f118fa</string>
	<key>DATABASE_URL</key>
	<string>https://grouptalk-57bb0.firebaseio.com</string>
</dict>
</plist>